@using SpfInventaire.Core.DAL.ViewModels
@model FormEnginViewModel

<div class="form-group">
    @Html.LabelFor(model => model.unEngin.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.unEngin.Nom, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.unEngin.Nom, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.unEngin.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.unEngin.Numero, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.unEngin.Numero, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.unEngin.Immatriculation, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.unEngin.Immatriculation, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.unEngin.Immatriculation, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.unEngin.CodeConf, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.unEngin.CodeConf, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.unEngin.CodeConf, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.unEngin.CodeChauff, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.unEngin.CodeChauff, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.unEngin.CodeChauff, "", new { @class = "text-danger" })
    </div>
</div>