@model SpfInventaire.Core.DAL.Models.ValidationInventaire

@{
    ViewBag.Title = "Suppression";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Validez-vous la suppression ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inventaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventaire.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilisateur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Utilisateur.Nom)
            @Html.DisplayFor(model => model.Utilisateur.Prenom)
        </dd>

        <dt>
            <small>
                @Html.DisplayNameFor(model => model.DateCreation)
            </small>
        </dt>
        <dd>
            <small>
                @Html.DisplayFor(model => model.DateCreation)
            </small>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-primary" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
