@using SpfInventaire.Core.DAL.ViewModels
@model FormMaterielViewModels

<div class="form-group">
    @Html.LabelFor(model => model.unMateriel.Nom, "Ancien Nom", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.unMateriel.Nom, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.unMateriel.TypeMaterielID, "Nom", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.unMateriel.TypeMaterielID, Model.listTypeMateriel, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.unMateriel.TypeMaterielID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.unMateriel.BlocInventaireID, "Bloc Inventaire", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.unMateriel.BlocInventaireID, Model.listBlocInventaire, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.unMateriel.BlocInventaireID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.unMateriel.Description, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.unMateriel.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.unMateriel.Description, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.unMateriel.Quantite, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.unMateriel.Quantite, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.unMateriel.Quantite, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.unMateriel.Tester, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.unMateriel.Tester)
            @Html.ValidationMessageFor(model => model.unMateriel.Tester, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.unMateriel.Rank, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.unMateriel.Rank, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.unMateriel.Rank, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.unMateriel.Active, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.unMateriel.Active)
            @Html.ValidationMessageFor(model => model.unMateriel.Active, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

