@model IEnumerable<SpfInventaire.Core.DAL.Models.Materiel>

<h4>Matériels Associés</h4>

<table id="tableauDatatable" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th class="checkBoxColumn">
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th class="firstColumnOrder">
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th class="noSortingColumn"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td class="tdColumnCenter">
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
                <td class="tdColumnCenter">
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td class="tdColumnCenter">
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td class="tdColumnRight">
                    <div class="divIconesActionsTDB">
                        <a class="detailButtonTDB" href="@Url.Action("Details","Materiel", new { id = item.ID, isFromBlocInventaire = true })" alt="Voir détail" data-toggle="tooltip" title="Voir détail">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>