@model SpfInventaire.Core.DAL.Models.Materiel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Validez-vous la suppression ?</h3>
<div>
    <h4>Materiel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlocInventaire.Inventaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlocInventaire.Inventaire.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlocInventaire)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlocInventaire.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModification)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-primary" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
