@model SpfInventaire.Core.DAL.Models.TicketIncident

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type): 
        </dt>
        <dd>
            @Html.Partial("_AffichageType", Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statut): 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroFeb): 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroFeb)
        </dd>
    </dl>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            <small>
                @Html.DisplayNameFor(model => model.DateCreation): 
            </small>
        </dt>
        <dd>
            <small>
                @Html.DisplayFor(model => model.DateCreation)
            </small>
        </dd>

        <dt>
            <small>
                @Html.DisplayNameFor(model => model.DateModification): 
            </small>
        </dt>
        <dd>
            <small>
                @Html.DisplayFor(model => model.DateModification)
            </small>
        </dd>

    </dl>
</div>