@model SpfInventaire.Core.DAL.Models.ApplicationUser

@{
    ViewBag.Title = "Suppression";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<p class="error">@ViewBag.ErrorMessage</p>

<h3>Validez-vous la suppression ?</h3>
<div>
    <h4>Utilisateur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surnom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surnom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-primary" /> |
            @Html.ActionLink("Liste des Utilisateurs", "Index")
        </div>
    }
</div>
