@model SpfInventaire.Core.DAL.Models.ApplicationUser

<h2>Mon Compte</h2>

<div>
    <hr />
    <p class="text-success">@ViewBag.StatusMessage</p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            Nom Utilisateur
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName) 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email) (@Html.ActionLink("Modifier Email", "ChangeEmail", "User"))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Changer Mot de passe", "ChangePassword", "Manage")
</p>
