@using SpfInventaire.Core.DAL.ViewModels
@model NewFormSortieStockViewModel

@Html.HiddenFor(model => model.idMateriel)

<h3>@Model.NomMateriel</h3>

<div class="panel panel-primary">
    <div class="panel-heading">Matériel utilisé</div>
    <div class="panel-body">
        <div class="form-group">
            @Html.Label("Lot", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("stockSortieID", Model.listStockSortie, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Quantité", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantite, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantite, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Pris dans la réserve</div>
    <div class="panel-body">
        <div class="form-group">
            @Html.Label("Lot", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("stockEntreeID", Model.listStockEntree, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>