@model SpfInventaire.Core.DAL.Models.SortieStockMateriel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SortieStockMateriel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Materiels.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materiels.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockMateriels.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockMateriels.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateSortie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSortie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raison)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
