@model SpfInventaire.Core.DAL.ViewModels.SaisieInventaireViewModels


@{
    ViewBag.Title = "IndexSaisieInventaire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventaire</h2>

@if (Model.desinfection != null)
{
    <div class="alert alert-info" role="alert">
        <strong>Désinfection</strong>
        @if(!string.IsNullOrEmpty(Model.desinfection.Description))
        {
            <strong>:</strong>       
            @Model.desinfection.Description
        }
    </div>
}

<form>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("", htmlAttributes: new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.DropDownList("Inventaires", Model.listInventaires, "Sélectionner un Inventaire", htmlAttributes: new { @id = "listInventaires", @class = "form-control" })
                <span id="loaderInventaire" class="glyphicon glyphicon-refresh glyphicon-refresh-animate loaderListeAssociation" style="display: none;"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="divAffichageInventaire" class="col-xs-12">
        </div>
    </div>

    <div id="btValidationInventaire" class="row text-center">
        <div class="input-group-btn">
            <button id="btValidation" type="button" class="btn btn-success" style="display: none;">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Valider
            </button>
            <span id="loaderValidation" class="glyphicon glyphicon-refresh glyphicon-refresh-animate loaderValidationInventaire" style="display: none;"></span>
        </div>
    </div>
    <div id="messageValidationInventaire" class="row text-center" style="display: none;">
        <h3 class="text-success">Inventaire Validé</h3>
    </div>
    <div id="messageErreurValidationInventaire" class="row text-center" style="display: none;">
        <h3 class="text-danger">Erreur lors de la validation</h3>
    </div>


</form>


@section Scripts{
    @Scripts.Render("~/bundles/AjaxService")
    @Scripts.Render("~/bundles/SaisieInventaire")

    <script>
        $(document).ready(function () {
            SaisieInventaire = new SaisieInventaire();
            TicketForm = new TicketForm();

            //Initialisation SortieStock
            optionsSortie = {
                ListInventaireID: 'ddlInventaireSortie',
                listBlocsID: 'ddlBlocInventaireSortie',
                listMaterielID: 'ddlMaterielSortie',
                listStockID: 'ddlStockSortie'
            }
            SelectionMaterielSortie = new SelectionMateriel(optionsSortie);

            optionsSource = {
                ListInventaireID: 'ddlInventaireSource',
                listBlocsID: 'ddlBlocInventaireSource',
                listMaterielID: 'ddlMaterielSource',
                listStockID: 'ddlStockSource'
            }
            SelectionMaterielSource = new SelectionMateriel(optionsSource);

        });
    </script>
}